
  <img src="assets/images/hotel-1.jpg" width="250px" height="200px">
  <div class="hoteldesc">
    <h2>{{hotelInstance.name}}</h2>
    <p>{{hotelInstance.location}},{{hotelInstance.city}}</p>
    <span class="rating"><mat-icon>star</mat-icon>{{hotelInstance.averagerating}}</span>&nbsp;<span class="price">{{hotelInstance.price|currency:'&#8377;'}}</span>
    <div>
    <button mat-raised-button class="viewbtn"><a routerLink="/bookingview/{{hotelInstance.id}}">View Details</a></button>&nbsp;&nbsp;
    <button mat-raised-button color="primary" class="bookbtn"><a routerLink="/bookingview/{{hotelInstance.id}}">Book Now</a></button>
    </div> 
  

</div>
