.container{ background-color:rgb(204, 204, 204, 0.08); padding:10px 0%;}
.sort{ float:right; }
.clear{ clear:both;}
.total{ font-size:20px; font-weight: bold;}
.sort span{ vertical-align: middle;}
mat-icon{ font-size: 16px; }
.item{ margin:10px 0%;}


span{ cursor: pointer;}
