<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
<div class="filter">
        <h4>Filters</h4>
   
        <div>
            <mat-form-field apearance="outline">
                    <input placeholder="Search by Hotel" matInput  [matAutocomplete]="auto" formControlName="search">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of options" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-icon matPrefix>search</mat-icon>
                  </mat-form-field>
                </div>
                <br>
                <mat-divider></mat-divider>
                <br>
<h4>Type</h4>
<mat-checkbox formControlName="hotelstay">Hotel</mat-checkbox><br>
<mat-checkbox formControlName="homestay">Home Stay</mat-checkbox>
   
</div>
<br>
<mat-divider></mat-divider>

<h4>Location</h4>

    <!-- <mat-form-field >
        <input placeholder="Choose Location" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->
 
      
<mat-checkbox>Gandhipuram</mat-checkbox><br>
<mat-checkbox>KR puram</mat-checkbox><br>
<mat-checkbox>Gandhipuram</mat-checkbox><br>
<mat-checkbox>KR puram</mat-checkbox><br>

<br>
<mat-divider></mat-divider>

<h4>Ratings</h4>
        <div (click)="setStar(4)">
            <mat-icon *ngFor="let i of [1,2,3,4]">star</mat-icon><span>& up</span>
        </div>

        <div (click)="setStar(3)">
            <mat-icon *ngFor="let i of [1,2,3]">star</mat-icon><span>& up</span>
        </div>
        
        <div (click)="setStar(2)">
            <mat-icon *ngFor="let i of [1,2]">star</mat-icon><span>& up</span>
        </div>

        <div (click)="setStar(1)">
            <mat-icon *ngFor="let i of [1]">star</mat-icon><span>& up</span>
        </div>

<mat-divider></mat-divider>

<h4>Price</h4>

<mat-slider [min]="1000" [max]="10000" formControlName = "PriceMin">
</mat-slider>
<p>
<span>{{filterForm.value.PriceMin}}</span>&nbsp;
<span>{{filterForm.value.PriceMax}}</span>
</p>
</form>