<div class="bgimage">
<div class="signinform">
    <mat-card>
        <h2>Sign In</h2>
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit(signinForm.value)">

            <div>  
                <span style="color:red; text-align:center;">{{errroMsg}}</span>

            </div>
            <div class="signup-container">
                <mat-form-field>
                    <input formControlName="email" matInput placeholder="Email">
                </mat-form-field>
                <mat-error *ngIf="!signinForm.get('email').valid && signinForm.get('email').touched"> Email Required
                </mat-error>
            </div>

            <div class="signup-container">
                <mat-form-field>
                    <!-- <input formControlName="password" matInput placeholder="Password" type="password"> -->
                    <input matInput placeholder="Enter your password" formControlName="password" 
                          [type]="hide ? 'text' : 'password'">
                          <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                          </span>

                </mat-form-field>
                <mat-error>
                    <span *ngIf="!signinForm.get('password').valid && signinForm.get('password').touched">Password
                        Required!</span>
                </mat-error>
            </div>
            <br>
            <div class="signup-submit">
                <button mat-raised-button color="primary" [disabled]="!signinForm.valid">Sign In</button>
                <br>
                <p>New User ? <b><a routerLink="/signup">Sign Up</a></b>
                </p>
            </div>

        </form>

    </mat-card>
</div>
</div>